.icon-set {
  width: 24px;
  height: 24px;
  display: block;
  vertical-align: middle;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.me-24 {
  margin-right: 24px;
}
.me-50 {
  margin-right: 50px;
}
.mb-12 {
  margin-bottom: 12px;
}
.p-12 {
  padding: 12px;
}
